In [8]:
# 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not
length = float(input("enter the length of the rectangle: "));
breadth = float(input("enter the breadth of the rectangle: "));

if (length == breadth):
    print("square");
else:
    print("not square");

enter the length of the rectangle: 4.7
enter the breadth of the rectangle: 4.8
not square

In [12]:
# 2. Take three integer values from the user and print the greatest among them.
n1 = int(input("enter first number: "));
n2 = int(input("enter second number: "));
n3 = int(input("enter third number: "));

if (n1 >= n2 and n1 >= n3):
    print(n1, " is greatest");
elif (n2 >= n1 and n2 >= n3):
    print(n2, " is greatest");
else:
    print(n3, " is greatest");

enter first number: 23
enter second number: 25
enter third number: 10
25  is greatest

In [15]:
'''
3. A student will not
be allowed to sit in an exam if his/her attendance is less than 75%
'''

attendance = float(input("enter attendance percentage: "));
if(attendance < 0.75):
    print("not allowed to sit for exam");
else:
    print("allowed to sit for exam");

enter attendance percentage: .75
allowed to sit for exam

In [23]:
'''
4. A school has the following rules for the grading system: 
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade
'''

score = float(input("enter marks: "));
if(score >= 90):
    print("A+");
elif(score >= 80):
    print("A");
elif(score >= 60):
    print("B");
elif(score >= 50):
    print("C");
elif(score >= 45):
    print("D");
elif(score >= 25):
    print("E");
else:
    print("F");

enter marks: 90
A+

In [29]:
'''
5. Print the following pattern using for loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
'''

endNumber=8;
for i in range(4): 
    for j in range(1, endNumber):
        print(j, end=" ")
    endNumber -= 1;
    print();

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [32]:
'''
5. Print the following pattern using while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
'''

endNumber = 7;

i = 1;
while i<=4:
    j=1;
    while j<=endNumber:
        print(j, end=" ");
        j += 1;
        
    print();
    endNumber -= 1;
    i += 1;

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [37]:
# 6. Display numbers from -100 to -10 using for loop

for i in range(-100, -9, 1):
    print(i, end=" ")

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

In [42]:
# 7. Write a program to sum all prime numbers within a range of 10 to 1000
from math import sqrt

sum = 0;
for num in range(10, 10001):
    prime = True;
    for i in range(2, int(sqrt(num))+1):
        if(num%i == 0):
            prime=False;
            break;
            
    if (prime==True):
        sum += num;

print(sum);

5736379

In [48]:
# 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1)

n = 7;
factorial = 1; 
for i in range(1, n+1):
    factorial = factorial * i;

print(factorial);

5040

In [54]:
# 9. Reverse a given integer number 27956240710
num = 27956240710;
n = num;
reversedNum = 0;
while(n != 0):
    rem = n % 10;
    reversedNum = reversedNum*10 + rem;
    #print(rem)
    n = n//10;
    
print(reversedNum);

1704265972

In [56]:
'''
10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #
'''

for i in range(3):
    print("#", end=" ")
print()

count = 4;
for i in range(3):
    for j in range(count):
        print("#", end=" ")
    count -= 1;
    print();

# # #
# # # #
# # #
# #

In [59]:
'''
11. Display the Fibonacci series of 15 elements using the for and while loop.
'''

prev1 = 0;
prev2 = 1;
for count in range(15):
    if (count == 0):
        print(prev1, end=" ");
    elif (count == 1):
        print(prev2, end=" ");
    else:
        cur = prev1+prev2;
        print(cur, end=" ");
        prev1 = prev2;
        prev2 = cur;

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [74]:
'''
12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]
'''

Li = [1,3,5, [2,3], True];

for i in range(len(Li)):
    
    if (type(Li[i]) == list):
        for j in range(len(Li[i])):
            if (Li[i][j] == 2):
                Li[i][j] = 3;
                
            elif (type(Li[i][j]) == bool and Li[i][j] == True):
                Li[i][j] = False;
    else:
        if (Li[i] == 2):
            Li[i] = 3;
                
        elif (type(Li[i]) == bool and Li[i] == True):
            Li[i] = False;
                
                
print(Li);

[1, 3, 5, [3, 3], False]

In [86]:
'''
13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}
'''

s1 = {1,4,6,8}
s2 = {True, 1,2,10}
print(s1.intersection(s2));

{True}

In [102]:
'''
14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]
'''
size = int(input("enter size of the list: "));
user_input = [];
for i in range(size):
    elem = float(input("enter list element: "));
    user_input.insert(i, elem);
    
# print(user_input);

u = set(user_input); # turning list into set which will automatically remove the duplicates
#print(u);

print(max(u)); # max bulit-in function returns the maximum number of a set

enter size of the list: 10
enter list element: 1
enter list element: 2
enter list element: 56
enter list element: 56
enter list element: 1
enter list element: 2
enter list element: 0
enter list element: 9
enter list element: 38
enter list element: 19
56.0

In [108]:
'''
15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" } Write a
program to rename a key ‘country’ to a ‘region’ in the following dictionary. 
'''

dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" };
dict["region"] = dict["country"];
del dict["country"];

print(dict);

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [109]:
'''
16. Creating a data frame using the list.
num = [10,100,300] (column name is number)
'''

import pandas as p

num = [10, 100, 300];
dataFrame = p.DataFrame(num, columns=['number'])
print(dataFrame)

   number
0      10
1     100
2     300

In [110]:
'''
17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
'''

dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" };
dict["age"] = 28;
print(dict);

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}